# Install mod_wsgi for use in optional webdav support.
mod_wsgi==4.*

# Install supervisord for managing multiple applications.
supervisor==4.*

# Install base packages needed for running Jupyter Notebooks.
jupyterhub==0.9.6 #update to 1.0.* together with jupyterhub
jupyterlab==1.*
notebook==6.*
jupyter_kernel_gateway==2.*
dask==2.*
distributed==2.*
