ipywidgets==7.0.*
pandas==0.19.*
numexpr==2.6.*
matplotlib==2.0.*
scipy==0.19.*
seaborn==0.7.*
scikit-learn==0.18.*
scikit-image==0.12.*
sympy==1.0.*
cython==0.25.*
patsy==0.4.*
statsmodels==0.8.*
cloudpickle==0.2.*
dill==0.2.*
numba==0.31.*
bokeh==0.12.*
sqlalchemy==1.1.*
#hdf5
h5py==2.6.*
vincent==0.4.*
beautifulsoup4==4.5.*
protobuf==3.*
xlrd==1.1.*
